* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: yellow;
}
html {
	font-size: 16px;
	background-color: #000033;
	font-family: 'Montserrat', sans-serif;
}

#loading-page {
	width: 100%;
	height: 100vh;
	background-color: black;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
#loading-circle {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}

header {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-image: #000033;
	/* border: 1px solid red; */
}

.img-samurai-animate {
	z-index: 2;
	/* border: 1px solid red; */
	position: absolute;
	height: 100vh;
	top: 0%;
	left: -30%;
}
.img-samurai-scroll {
	z-index: 2;
	/* border: 1px solid blue; */
	position: absolute;
	height: 100vh;
	top: 0%;
	left: -30%;
	transform: translateX(75%);
	display: none;
}

.img-plane-animate {
	z-index: 1;
	/* border: 1px solid red; */
	position: absolute;
	width: 10vw;
	top: 100vh;
	left: -12vw;
}
.img-plane-scroll {
	z-index: 1;
	/* border: 1px solid blue; */
	position: absolute;
	width: 10vw;
	top: 100vh;
	left: -12vw;
	display: none;
}

#intro {
	text-align: end;
	padding-right: 10px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	/* border: 2px solid grey; */
}

#intro h1 {
	font-size: 3rem;
}

#intro h2 {
	font-size: 1rem;
}

#intro h2 {
	margin-top: 17px;
}

#intro .links {
	text-decoration: none;
	color: powderblue;
}

.frontend {
	position: relative;
	background-image: linear-gradient(blue, #000033);
	height: 100vh;
	overflow: hidden;
}

#cover-amplify {
	width: 120px;
	height: 120px;
	position: absolute;
	top: -10vh;
	left: -10vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-amplify img {
	margin-top: -10px;
	/* background-color: purple; */
	width: 80px;
	height: 80px;
}

#cover-amplify p {
	font-size: 0.8rem;
}

#cover-react {
	width: 120px;
	height: 120px;
	position: absolute;
	top: -20vh;
	left: 60vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-react img {
	margin-top: -10px;
	width: 100px;
	height: 100px;
}

#cover-react p {
	margin-top: -10px;
	font-size: 0.8rem;
}

#cover-firebase-auth {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 100vh;
	left: 50vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-firebase-auth img {
	/* margin-top: -10px; */
	width: 80px;
	height: 80px;
}

#cover-firebase-auth p {
	/* margin-top: -10px; */
	font-size: 0.8rem;
}

#cover-firebase-cloud-fns {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 100vh;
	left: 10vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-firebase-cloud-fns img {
	/* margin-top: -10px; */
	width: 80px;
	height: 80px;
}

#cover-firebase-cloud-fns p {
	/* margin-top: -10px; */
	font-size: 0.8rem;
}

#cover-aws-cognito {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 100vh;
	left: 80vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-aws-cognito img {
	/* margin-top: -10px; */
	width: 80px;
	height: 80px;
}

#cover-aws-cognito p {
	/* margin-top: -10px; */
	font-size: 0.8rem;
}

#cover-serverless {
	width: 120px;
	height: 120px;
	position: absolute;
	top: -20vh;
	left: 10vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-serverless img {
	/* margin-top: -10px; */
	width: 70px;
	height: 70px;
}

#cover-serverless p {
	/* margin-top: -10px; */
	font-size: 0.8rem;
}

#cover-npm-package {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 30vh;
	left: -10vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-npm-package img {
	margin-top: -5px;
	width: 70px;
	height: 30px;
	/* background-color: plum; */
}

#cover-npm-package p {
	/* margin-top: -10px; */
	font-size: 0.8rem;
}

#cover-php {
	text-align: center;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 50vh;
	left: -10vw;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 100%;
}
#cover-php img {
	/* margin-top: -5px; */
	width: 80px;
	height: 50px;
	/* background-color: plum; */
}

#cover-php p {
	/* margin-top: -10px; */
	font-size: 0.8rem;
}

footer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Different Media Queries will be clustered here */
@media (max-width: 850px) {
	#img-samurai-animate {
		display: none;
	}
	#img-samurai-scroll {
		display: none;
	}
	#img-plane-animate {
		width: 20vw;
		left: -5vw;
	}
	#img-plane-scroll {
		width: 20vw;
		left: -5vw;
	}
	#cover-amplify {
		width: 50px;
		height: 50px;
		top: -15vh;
		left: -15vw;
		/* background-color: green; */
	}
	#cover-amplify img {
		margin-top: -8px;
		width: 28px;
		height: 28px;
	}

	#cover-amplify p {
		font-size: 0.45rem;
	}
}

/* KeyFrames will be defined below: */

/* Animation wrapper-classes */
.animate-loader {
	animation: animate-loader 1s linear 0s infinite alternate forwards;
}

.animate-intro {
	animation: animate-intro 0.5s ease-in-out 0s 1 normal forwards;
}
.animate-samurai {
	animation: animate-samurai 2s ease 0s 1 normal forwards;
}
/* Actual Keyframes */

@keyframes animate-loader {
	0% {
		border: 8px solid darkred;
		opacity: 1;
		scale: 2;
	}
	50% {
		border: 8px solid darkgreen;
		opacity: 1;
		scale: 1.5;
	}
	100% {
		border: 8px solid darkblue;
		opacity: 1;
		scale: 1;
	}
}

@keyframes animate-samurai {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(75%);
	}
}

@keyframes animate-intro {
	0% {
		transform: translateY(-20%);
		scale: 0;
	}
	100% {
		transform: translateY(0%);
		scale: 1;
	}
}
